@model Haber
@inject TeknolojiHaber.Data.TeknolojiHaberContext _context
<br>
<div class="jumbotron mt-3">
<span class="text-danger font-weight-bold"><@Model.HaberBaslik></span>Haberininin Kategorilerini Seçiniz.
<hr>

    <ul>
        @foreach (var item in Model.Kategorileri)
        {
            <li>@item.KategoriAdi</li>
        }
    </ul>
    <div class="custom-control custom-checkbox">
        <input type="checkbox" class="custom-control-input" id="select_all">
        <label class="custom-control-label" for="select_all">Hepsini Seç</label>
        </div>


    <form asp-action="KategorileriniAyarla" class="mt-3 ml-3">
    @foreach (var item in _context.Kategoriler)
    {
        <div class="custom-control custom-switch">
        <input type="checkbox" class="custom-control-input checkbox" name="SeciliKategoriler" value="@item.Id" id="cb_@item.Id" @(Model.Kategorileri.Contains(item)?"checked":"")>
        <label class="custom-control-label" for="cb_@item.Id">@item.KategoriAdi</label>
        </div>
    }
    @if (User.IsInRole("Admin")||User.IsInRole("Editor"))
    {
    <div class="form-group">
        <input type="submit" value="Kaydet" class="btn btn-primary mt-3" name="btnSubmit"/>
    </div>
    <div>
    <a class="d-inline p-2 bg-primary text-white" asp-action="Index">Geri Dön</a>
    </div>
    }
</form>
</div>

@section Scripts {
    <script type="text/javascript">
$(document).ready(function(){
    $('#select_all').on('click',function(){
        if(this.checked){
            $('.checkbox').each(function(){
                this.checked = true;
            });
        }else{
             $('.checkbox').each(function(){
                this.checked = false;
            });
        }
    });
    
    $('.checkbox').on('click',function(){
        if($('.checkbox:checked').length == $('.checkbox').length){
            $('#select_all').prop('checked',true);
        }else{
            $('#select_all').prop('checked',false);
        }
    });
    if($('.checkbox:checked').length == $('.checkbox').length){
            $('#select_all').prop('checked',true);
        }else{
            $('#select_all').prop('checked',false);
        }
});
</script>
}
